body {
  background: #ffffff;
  color: #898989;
  font-family: "Poppins", helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h2-dark {
  color: #ffffff;
  font-weight: 600;
}
.h2-light {
  color: #292929;
  font-weight: 600;
}
.h4-dark {
  color: #f39ef3;
  font-size: 14px;
  font-weight: 600;
}
.h4-light {
  color: #69069e;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
}

::-moz-selection {
  background: #69069e;
  color: #fff;
}

::selection {
  background: #69069e;
  color: #fff;
}

.btn {
  background: #333;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover{
  color: #fff;
  background: #757575;
}

.padDiv {
  padding: 30px 20px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-control {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: #999999;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

.hvr-shutter-in-horizontal::before {
  background: #333;
}

.hvr-shutter-in-horizontal:hover {
  background: #69069e;
}

.mb-30 {
  margin-bottom: 30px;
}

.main-content {
  padding-top: 140px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #420364;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.dm-light{
  background: #69069e;
  color: #e7e7e7;
  transition: all 0.4s;
}
.dm-light:hover{
  background: #a336dd;
  color: #ffffff;
}
.dm-dark{
  background: #f39ef3;
  color: #ffffff;
  transition: all 0.4s;
}
.dm-dark:hover{
  background: #f5bef5;
}
.darkmode {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 15px;
  bottom: 15px;
  z-index: 996;
  width: 40px;
  height: 40px;
  border-radius: 4px;

}

.darkmode i {
  font-size: 28px;
  line-height: 0;
}

.darkmode-de {
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 996;
  width: 40px;
  height: 40px;
  border-radius: 4px;

}

.darkmode-de i {
  font-size: 28px;
  line-height: 0;
}


.darkmode.active {
  visibility: visible;
  opacity: 1;
}

.viggo_span-light{
  color:#69069e;
}
.viggo_span-dark{
  color:#f39ef3;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: -100%;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
}
.header-light{
  background-color: #fff;
}
.header-dark{
  background-color: #000000;
}
#header.header-scrolled,
#header.header-inner-pages {
  top: 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
}

#header .logo a {
  color: #898989;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    border: 0;
  }
}
.resume-light{
  background-color: #f7f7f7;
}
.resume-dark{
  background-color: #1b1b1b;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.resume-title-light{
  color:#45505b;
}
.resume-title-dark{
  color:#8397ab;
}

.resume-item-light{
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #661094;
  position: relative;
}

.resume-item-dark{
  border-left: 2px solid #553755;
  padding: 0 0 20px 20px;
  margin-top: -2px;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.resume-item-light::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #69069e;
}
.resume-item-dark::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #111111;
  border: 2px solid #553755;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color:#8b8b8b;
}
.techno-light{
  background-color: #f7f7f7;
}
.techno-dark{
  background-color: #1b1b1b;
}
.techno .techno-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.techno-title-light{
  color:#45505b;
}
.techno-title-dark{
  color:#8397ab;
}

.techno-item-light{
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #661094;
  position: relative;
}

.techno-item-dark{
  border-left: 2px solid #553755;
  padding: 0 0 20px 20px;
  margin-top: -2px;
  position: relative;
}
.techno .techno-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.techno-item-light::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #69069e;
}
.techno-item-dark::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #111111;
  border: 2px solid #553755;
}

.techno .techno-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color:#8b8b8b;
}

.h5-dark{
  background: #1b1b1b;
}
.h5-light{
  background: #f7f8f9;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7e7d7d;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.nav-light a:hover,
.nav-light .active,
.nav-light .active:focus,
.nav-light li:hover>a {
  color: #69069e;
}

.nav-dark a:hover,
.nav-dark .active,
.nav-dark .active:focus,
.nav-dark li:hover>a {
  color: #f39ef3;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #69069e;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #4b4a4a;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(49, 49, 49, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile .ul-light {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile .ul-dark {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #4b4a4a;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile .ul-dark a,
.navbar-mobile .ul-darka:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
}
.navbar-mobile .ul-dark a:hover,
.navbar-mobile .ul-dark .active,
.navbar-mobile .ul-dark li:hover>a {
  color: #f39ef3;
}
.ul-light


.navbar-mobile .ul-light a,
.navbar-mobile .ul-light a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #4b4a4a;
}

.navbar-mobile .ul-light a:hover,
.navbar-mobile .ul-light .active,
.navbar-mobile .ul-light li:hover>a {
  color: #69069e;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #69069e;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  height: 100vh;
  width: 100%;
}

#hero .hero-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.hero-content p {
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.hero-content .list-social li {
  float: left;
  margin-right: 20px;
}

.hero-content .list-social li i {
  color: #fff;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 120px 0 0 0;
  min-height: 40px;
}
.bread-light{
  background-color: white;
}
.bread-dark{
  background-color: #1b1b1b;
}
.text-light{
  color: #292929;
}
.text-dark{
  color : white;
}

@media (max-width: 992px) {
  .breadcrumbs {
    padding-top: 100px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/
#about {
  width: 100%;
  height: auto;
  padding-top: 120px;
}
.paddsection-1{
  padding-top: 90px;
  padding-bottom: 90px;
  background: #f7f7f7;  
}
.paddsection-1-dark{
  padding-top: 90px;
  padding-bottom: 90px;
  background: #1b1b1b;  
}
.paddsection-2{
  padding-top: 90px;
  padding-bottom: 90px;
  background: #fff;  
}
.paddsection-2-dark{
  padding-top: 90px;
  padding-bottom: 90px;
  background: #111111;  
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #69069e;
}

#about .div-img-bg-dark{
  padding-bottom: 30px;
  border: 20px solid #553755;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about .div-img-bg-dark{
  padding-bottom: 30px;
  border: 20px solid #553755;
}
#about .div-img-bg-dark .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  text-align: left;
}

#about .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  position: relative;
  padding-bottom: 80px;
}

.services {
  background: #f7f7f7;
}
.services-dark {
  background: #1b1b1b;
}

.services-block span {
  margin: 10px 0;
  position: relative;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.span-dark{
  color: #ffffff;
}
.span-light{
  color: #292929;
}

.services-block .separator {
  margin: 0;
  font-size: 13px;
  line-height: 22px;
}

.services-block-light i {
  font-size: 44px;
  color: #69069e;
  line-height: 44px;
}
.services-block-dark i {
  font-size: 44px;
  color: #f39ef3;
  line-height: 44px;
}

.services-slider .swiper-pagination {
  margin-top: 30px;
  position: relative;
}
.swiper-light span{
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #fff;
  border: 1px solid #69069e;
}
.swiper-dark span{
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #111111;
  border: 1px solid #af70af;
}

.services-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #69069e;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  position: relative;
  padding-bottom: 50px;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.filters-dark li:hover, .filters-dark li.filter-active{
  color :#f39ef3;
}
.filters-light li:hover, .filters-light li.filter-active{
  color :#69069e;
}
#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  padding: 15px;
}
.info-light{
  background: rgba(255, 255, 255, 0.9);
}
.info-light h4{
  color: #666;
}
.info-dark{
  background: rgba(0, 0, 0, 0.8);
}
.info-dark h4{
  color: #b6b6b6;
}
#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-info p {
  color: #999;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#portfolio .portfolio-item .portfolio-info .preview-link,
#portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  
}

.details-light{
  color: #69069e;
}
.details-dark{
  color: #f39ef3;
}
#portfolio .portfolio-item .portfolio-info .preview-link:hover,
#portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #cab89f;
}

#portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #69069e;
}

.portfolio-details .swiper-light span{
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #fff;
  border: 1px solid #69069e;
}
.portfolio-details .swiper-dark span{
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #111111;
  border: 1px solid #af70af;
}

#darkmode:hover{
  cursor:pointer;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(75, 74, 74, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
#journal,
#journal-blog {
  height: auto;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 60px;
  position: relative;
}

#journal-blog {
  background: #fff;
  padding-bottom: 30px;
}

#journal .journal-block {
  display: inline-block;
  height: auto;
  width: 100%;
}

#journal .journal-block .journal-info {
  position: relative;
}

.journal-block .journal-info img {
  max-width: 100%;
}

.journal-block .journal-info .journal-txt {
  padding: 25px 0px;
  position: relative;
}

.journal-block .journal-info .journal-txt h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt h4 a:hover {
  color: #69069e;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/
#contact {
  height: auto;
  width: 100%;
}

.contact-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details li {
  padding-bottom: 10px;
}

#contact input,
#contact textarea {
  width: 100%;
  margin-bottom: 5px;
}

#contact textarea {
  min-height: 160px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.php-email-form .error-message br+br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
/*  Navbar fixd page */
.subpage-nav {
  display: block !important;
}

/*-----------------------------------------------------------------------------------*/
/*  /* Single page */
/*-----------------------------------------------------------------------------------*/
#journal-blog {
  padding-top: 140px;
}

/* main content */
.main-content {
  background: #f7f7f7;
}

.main-content .container-main {
  display: inline-block;
  width: 100%;
}

.main-content .container-main .block-main {
  margin-bottom: 30px;
  overflow: hidden;
}

.container-main .block-main .content-main {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  width: 100%;
}

.journal-txt h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  transition: all 0.5s ease-in-out 0s;
}

.journal-txt h4 a:hover {
  color: #69069e;
  transition: all 0.5s ease-in-out 0s;
}

.post-meta ul li {
  font-size: 12px;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  float: none;
}

.content-main .post-meta a {
  color: #a2a2a2;
  margin-left: 5px;
}

/* Commonts */
.comments {
  background: #fff;
}

.entry-comments h6 {
  margin-right: 10px;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.entry-comments-item {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}

.entry-comments-avatar {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.entry-comments-body {
  padding-left: 86px;
}

.entry-comments-author {
  margin-right: 10px;
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.rep {
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: capitalize;
}

.entry-comments span a {
  font-size: 13px;
  color: #999;
}

.entry-comments-reply {
  padding-left: 10%;
}

/* Commonts form */
.cmt {
  background: #fff;
}

blockquote {
  padding: 40px;
  background-color: #f2f2f2;
  margin: 30px 0;
  border: none;
  border-left: 4px solid #69069e;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-dark{
  background: #111111;
}
.footer-light{
  background: #ffffff;
}
#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: #154bbf;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}

/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (min-width: 768px) and (max-width: 991px) {

  /* Navbar */
  .ul-dark{
    background-color: #292929;
    color:white;
  }
  nav {
    padding: 10px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg-dark{
    padding: 0;
  }
  #about .div-img-bg-dark .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 767px) {

  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .div-img-bg-dark{
    padding: 0;
  }
  #about .div-img-bg-dark .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 600px) {

  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .div-img-bg-dark{
    padding: 0;
  }
  #about .div-img-bg-dark .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 10px;
    display: inline-block;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 480px) {

  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }
  #about .div-img-bg-dark{
    padding: 0;
  }
  #about .div-img-bg-dark .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
@media (max-width: 320px) {

  /* Navbar */
  nav {
    padding: 20px 15px;
  }

  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
  }

  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #f7f7f7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }

  /* About */
  .head-info .header-content h1 {
    font-size: 32px;
  }

  #about .div-img-bg {
    padding: 0;
  }

  #about .div-img-bg .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .div-img-bg-dark{
    padding: 0;
  }
  #about .div-img-bg-dark .about-img img {
    margin-top: 0%;
    margin-left: calc(0% - 0px);
  }

  #about .about-descr .p-heading {
    font-size: 20px;
  }

  #about .about-descr .separator {
    max-width: 100%;
    margin-bottom: 0;
  }

  /* portfolio */
  #portfolio .portfolio-list .nav li {
    float: none;
    margin: 20px;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Contact */
  .contact-contact {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  /* Single page */
  .entry-comments-body span {
    display: inline-block;
    margin-right: 0;
  }
}

.download-button {
  display: flex;
  margin-top: 1.5vh;
}

.download-button .download-button-container {
  display: flex;
  align-items: center;
  padding: 1em;
  border: 2px solid #69069e;
  border-radius: 50px;
  color: #69069e;
  transition: all linear .3s;
}

.download-button .download-button-container-dark {
  display: flex;
  align-items: center;
  padding: 1em;
  border: 2px solid #553755;
  border-radius: 50px;
  color: #f39ef3;
  transition: all linear .3s;
}


.download-button .download-button-container i {
  margin-left: .4vw;
  transition: all linear .3s;
}

.download-button .download-button-container:hover {
  background-color: #69069e;
  color: #ffffff;
}

.download-button .download-button-container:hover i {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.download-button .download-button-container-dark i {
  margin-left: .4vw;
  transition: all linear .3s;
}

.download-button .download-button-container-dark:hover {
  border: 2px solid #c580c5;
  background-color: #69069e;
  color: #ffffff;
}

.download-button .download-button-container-dark:hover i {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

@media (max-width: 990px) {
  .download-button {
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
  }
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.light::-webkit-scrollbar-corner,
.light::-webkit-scrollbar-track {
  background-color:#eee;
}

.light::-webkit-scrollbar-thumb {
  background-color: #69069e;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.light::-webkit-scrollbar-thumb:hover {
  background-color: #a336dd;
}

.light::-webkit-scrollbar-thumb:active {
  background-color: #a336dd;
}

/* Buttons */
.light::-webkit-scrollbar-button:single-button {
  background-color: #eee;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
.light::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(105, 6, 158)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.light::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(163, 54, 221)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.light::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(163, 54, 221)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
.light::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(105, 6, 158)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.light::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(163, 54, 221)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.light::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(163, 54, 221)'><polygon points='0,0 100,0 50,50'/></svg>");
}
/* ///////////// DARK MOD /////////////////// */

.dark::-webkit-scrollbar-corner,
.dark::-webkit-scrollbar-track {
  background-color:#0e0e0e;
}

.dark::-webkit-scrollbar-thumb {
  background-color: #f39ef3;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.dark::-webkit-scrollbar-thumb:hover {
  background-color: #f5bef5;
}

.dark::-webkit-scrollbar-thumb:active {
  background-color: #f5bef5;
}

/* Buttons */
.dark::-webkit-scrollbar-button:single-button {
  background-color: #0e0e0e;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
.dark::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(243, 158, 243)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.dark::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(245, 190, 245)'><polygon points='50,00 0,50 100,50'/></svg>");
}

.dark::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(245, 190, 245)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
.dark::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(243, 158, 243)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.dark::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(245, 190, 245)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.dark::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(245, 190, 245)'><polygon points='0,0 100,0 50,50'/></svg>");
}
.dark{
  background-color: #1b1b1b;
}
.light{
  background-color: #f7f7f7;
}

.skills-light{
  background-color: #fff;
}
.skills-dark{
  background-color: #111111;
}
.skill-light{
  margin-top: 3vh;
  border: #69069e solid 2px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
}

.skill-dark{
  margin-top: 3vh;
  border: #f39ef3 solid 2px;
  background-color: #1b1b1b;
  padding: 10px;
  border-radius: 10px;
}

.titre-skill-dark {
  color: #f39ef3;
  font-size: 22px;
  font-weight: 700;
}
.titre-skill-light {
  color: #69069e;
  font-size: 22px;
  font-weight: 700;
}
.titre-skill-dark {
  color: #f39ef3;
  font-size: 22px;
  font-weight: 700;
}
.getMoreDetails{
  width: 100%;
}

.full-width-table {
  width: 100%;
  border-collapse: collapse; /* Pour enlever les espaces entre les cellules */
}

.full-width-table th, .full-width-table td {
  border: 1px solid #ddd; /* Bordure pour les cellules */
  padding: 8px; /* Espacement à l'intérieur des cellules */
}

.full-width-table-light th {

  text-align: left; /* Alignement du texte */
}

.full-width-table th {

  text-align: left; /* Alignement du texte */
}

.showDetail{
  text-decoration: underline;
}
.showDetail:hover{
  cursor: pointer;
}
.container-button-techno {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px; /* Espace entre les boutons */
}

.button-techno-light {
  background-color: #f7f7f7;
  color: #69069e;
  border: 2px solid #69069e;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  flex: 1 1 auto;
  text-align: center;
  min-width: 120px;
  margin: 5px; /* Espace autour de chaque bouton */
}

.button-techno-dark {
  background-color: #1b1b1b;
  color: #f39ef3;
  border: 2px solid #f39ef3;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  flex: 1 1 auto;
  text-align: center;
  min-width: 120px;
  margin: 5px; /* Espace autour de chaque bouton */
}

.button-techno-light:hover {
  background-color: #69069e;
  color: #f7f7f7;
  cursor: pointer;
}

.button-techno-dark:hover {
  background-color: #f39ef3;
  color: #1b1b1b;
  cursor: pointer;
}

.techno-selected-light {
  background-color: #69069e;
  color: #f7f7f7;
}

.techno-selected-dark {
  background-color: #f39ef3;
  color: #1b1b1b;
}

.container-bloc-techno {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.bloc-techno-light {
  background-color: #f7f7f7;
  color: #69069e;
  border: 2px solid #69069e;
  border-radius: 10px;
  padding: 10px;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 calc(20% - 10px); /* 5 éléments par ligne */
  box-sizing: border-box;
}

.bloc-techno-dark {
  background-color: #1b1b1b;
  color: #f39ef3;
  border: 2px solid #f39ef3;
  border-radius: 10px;
  padding: 10px;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 calc(20% - 10px); /* 5 éléments par ligne */
  box-sizing: border-box;
}

.bloc-techno-light p {
  color: #69069e;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.5vh;
  font-size: 1.3vh;
}

.bloc-techno-dark p {
  color: #f39ef3;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.5vh;
  font-size: 1.3vh;
}

.bloc-techno-light i {
  font-size: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.bloc-techno-dark i {
  font-size: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1024px) {
  .bloc-techno-light, .bloc-techno-dark {
    flex: 1 1 calc(33.33% - 10px); /* 3 éléments par ligne */
  }
}

@media (max-width: 768px) {
  .bloc-techno-light, .bloc-techno-dark {
    flex: 1 1 calc(50% - 10px); /* 2 éléments par ligne */
  }
}

@media (max-width: 480px) {
  .bloc-techno-light, .bloc-techno-dark {
    flex: 1 1 calc(100% - 20px); /* 1 élément par ligne */
  }
}
